@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);
	
*{
	outline: 1px dotted black;
}

body{
	font-family: 'Nunito', sans-serif;
	background-color: #95a5a6;
	color: white;
}

.conversation{
	border-radius: 3px;
	width: 600px;
	border: 10px red;
	background-color: #34495e;
	display: flex;
	flex-direction: column;
}

.message{
	margin-top: 20px;
}

#chatLog{
	height: 500px;
	overflow: scroll;
}

#chatBox, #chatLog {
	width: 100%;
	border: no;
}

#chatBox{
	max-height: 200px;
}